<div class="recipe-detail-header" *ngIf="recipe && recipe.imageUrl"
[ngStyle]="{ 'background-image': 'url(' + recipe.imageUrl + ')' }">
</div>
<div class="recipe-detail-content" *ngIf="recipe">
<div class="page-title-header">
  <h1>
    {{ recipe.name }}
    <small>Submitted by {{ recipe.userName }}</small>
  </h1>
</div>
<div class="row">
  <div class="col-12 col-sm-6 col-lg-7 col-xl-8 recipe-runway" *ngIf="recipe">
    <div class="recipe-actions">
    </div>
    <div>
        <div class="col-12 col-sm-7" *ngIf="recipe">
            <div class="card">
                <div class="card-body">
                  <h1>{{ recipe.name }}</h1>
                </div>
                <form class="card-body" (ngSubmit)="updateRecipe()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" [(ngModel)]="recipe.name" />
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" class="form-control" [(ngModel)]="recipe.category" />
                    </div>
                    <div class="form-group">
                            <label for="instructions">Cooking Instructions</label>
                            <input type="text" name="instructions" class="form-control" [(ngModel)]="recipe.instructions" />
                    </div>
                    <div class="form-group">
                        <label for="instructions">Ingredients</label>
                        <tbody>
                            <tr *ngFor="let ingredient of recipe.ingredients">
                                <td>{{ ingredient.name }}</td>
                                <td><input name="ingredient" [(ngModel)]="ingredient.quantity" value="{{ingredient.quantity}}"></td>
                            </tr>
                        </tbody>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Recipe</button>
                    <!-- <button type="button" class="btn btn-danger float-right" (click)="deleteRecipe()">Delete Recipe</button> -->
                </form>
            </div>
        </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-5 col-xl-4 recipe-nutrition" *ngIf="nutritionData">
    <nutrition-facts [ingredient]="nutritionData" [enableEditing]="false"></nutrition-facts>
  </div>
</div>
</div>